@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    src: local('Roboto Light'), local('Roboto-Light'), url('fonts/Roboto-Light.woff2') format('woff2');
}

@font-face {
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 300;
    src: local('Raleway Light'), local('Raleway-Light'), url('fonts/Raleway-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: local('Material Icons'), local('MaterialIcons-Regular'), url('fonts/MaterialIcons-Regular.woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

body {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    background-color: #FEFEFE;
    color: #555;
    margin: 20px auto 0;
    padding: 35px;
    table-layout: fixed;
    width: 850px;
}

a {
    text-decoration: none;
    color: #0099CC;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.copy {
    font-size: 62.5%;
}

.copy p, .copy pre, .copy ul, .copy dl {
    font-size: 1.6em;
    line-height: 1.5;
}

.copy p.intro {
    font-size: 1.8em;
    line-height: 1.5;
    font-weight: 300;
}

.copy h2 {
    font-size: 2.5em;
    font-weight: 300;
}

.copy pre {
    font-family: monospace;
    background: #fafafa;
    padding: 10px 15px;
    border: 1px solid #e2e2e2;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.copy dt {
    font-weight: bold;
}

.container {
    width: 700px;
    margin: auto;
}

#header {
    background: #222;
    padding: 30px;
    min-width: 700px;
    position: relative;
}

#content {
    margin: 20px 0 40px;
}

h1 {
    font-size: 52px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #eee;
}

.hero {
    font-size: 22px;
    font-weight: 100;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.image-container, #result {
    display: inline-block;
    max-width: 100%;
    background: white;
    padding: 10px;
    margin: 5px 0;
}

.image-container.target {
    margin-top: 40px;
}

.image-container img {
    max-width: 100%;
}

.image-container .image-meta {
    margin-top: 10px;
    font-size: 12px;
    text-align: left;
}

.image-container .image-meta a {
    text-decoration: none;
    color: #444;
}

.image-container .image-meta a:hover .image-meta-title {
    text-decoration: underline;
}

.header {
    text-align: center;
    font-size: 2.5rem;
    text-shadow: 0 1px 1px #CCC;
    display: none;
}

.header img {
    width: 3rem;
    border: none;
}

.header div {
    display: inline-block;
    vertical-align: middle;
}

.header .title {
    font-family: Raleway, sans-serif;
    font-weight: 100;
    color: #CCC;
    text-shadow: 0 -1px 1px #000;
    text-align: left;
    line-height: 2rem;
}

.header .title h2 {
    font-size: 3.5rem;
    display: inline;
}

.header .title h3 {
    font-size: 2.25rem;
    color: #AAA;
    text-shadow: 0 1px 0 #FFF;
    display: inline;
}

.wrapper {
    text-align: center;
}

.field-wrapper > input {
    width: 100%;
}

#result {
    font-size: 1.5rem;
    color: #222;
    text-shadow: 0 1px 0 #EFEFEF;
    border: none;
    text-align: center;
    width: 100%;
    outline: none;
}

.hide, #result.hide {
    display: none;
}

textarea {
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
}

.youdao, .yandex {
    text-align: center;
    width: 100%;
    /*font-family: Raleway, sans-serif;*/
    margin-top: 30px;
    position: relative;
    white-space: pre;
    font-family: monospace;
}

.youdao {
    color: #134E08;
}

.yandex {
    color: #5723AB;
}

.youdao::after, .yandex::after {
  content: "";
  opacity: 1s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.youdao::after {
  background: url(../img/youdao-logo.png) no-repeat right center;
  background-size: 90px;
}

.yandex::after {
  background: url(../img/yandex-logo.png) no-repeat right center;
  background-size: 50px;
}

.darkroom-container {
    margin-top: 20px;
}