body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: #555;
    margin: 0 auto;
    table-layout: fixed;
    width: 850px;
    overflow: hidden;
    background: #FFF;
}

a {
    text-decoration: none;
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

.copy {
    font-size: 62.5%;
}

.copy p, .copy pre, .copy ul, .copy dl {
    font-size: 1.6em;
    line-height: 1.5;
}

.copy p.intro {
    font-size: 1.8em;
    line-height: 1.5;
    font-weight: 300;
}

.copy h2 {
    font-size: 2.5em;
    font-weight: 300;
}

.copy pre {
    font-family: monospace;
    padding: 10px 15px;
    border: 1px solid #e2e2e2;
    border-bottom: 1px solid #ccc;
    border-right: 1px solid #ccc;
}

.copy dt {
    font-weight: bold;
}

.container {
    width: 400px;
    margin: auto;
}

h1 {
    font-size: 52px;
    margin: 0;
    padding: 0;
    font-weight: 100;
    color: #eee;
}

.hero {
    font-size: 22px;
    font-weight: 100;
    color: #ccc;
    margin: 0;
    padding: 0;
}

.image-container, #result {
    display: inline-block;
    padding: 10px;
    margin: 5px 0;
}

.image-container.target {
    margin-top: 40px;
}

.image-container img {
    max-width: 100%;
}lo

.darkroom-image-container {
    border: 1px solid #ACACAC;
    box-shadow: 0 1px 20px #999;
    background: transparent;
}

.wrapper {
    text-align: center;
}

.field-wrapper > input {
    width: 100%;
}

#result {
    font-size: 2rem;
    width: 85%;
    border-top: 1px dashed #CCC;
    border-bottom: 1px dashed #CCC;
    text-align: center;
    outline: none;
    box-shadow: none;
}

.hide, #result.hide {
    display: none;
}

textarea {
    resize: none;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow: hidden;
    border: none;
    outline: none;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
}

.youdao, .yandex {
    text-align: center;
    width: 100%;
    font-family: monospace;
    margin-top: 15px;
    position: relative;
    white-space: pre;
}

.youdao {
    color: #134E08;
}

.yandex {
    color: #5723AB;
}

.youdao::after, .yandex::after {
  content: "";
  opacity: 1s;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1; 
}

.youdao::after {
  background: url(../img/youdao-logo.png) no-repeat right top;
  background-size: 90px;
}

.yandex::after {
  background: url(../img/yandex-logo.png) no-repeat right top;
  background-size: 50px;
}

.darkroom-container {
    position: relative;
    top: 35px;
}

#nprogress .bar {
    height: 6px !important;
}

.darkroom-toolbar {
    border: 1px solid #222;
}

.darkroom-button:active, .darkroom-button:hover {
    height: 38px;
    cursor: pointer;
    position: relative;
    top: -1px;
    background-color: #444;
}

.darkroom-button:hover .darkroom-icon {
    position: relative;
    top: 1px;
}

.darkroom-button:hover:enabled .darkroom-icon {
    /*fill:#AAA;*/
    opacity:0.4;
}

img.ocr-placeholder {
    width: 400px;
    height: 300px;
    max-width: 400px;
    max-height: 300px;
}

.darkroom-image-container {
    border: 1px solid #AAA;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 15px rgba(0, 0, 0, 0.4);
}

.fade {
  opacity: 0;
  -webkit-transition: opacity 0.30s linear;
  -moz-transition: opacity 0.30s linear;
  -o-transition: opacity 0.30s linear;
  transition: opacity 0.30s linear;
}

.fade.in {
  opacity: 1;
}

.btn-default {
    text-transform: uppercase;
}

.glyphicon {
    top: 2px;
}

.reset {
    width: 100%;
}

.translations {
    margin-bottom: 28px;
}

.translations div {
    padding: 20px;
}

.tooltip > .tooltip-inner {
    font-weight: 500;
    font-size: 1.3rem;
    color: #FFF;
}

.fade {
    -webkit-transition: opacity .01s linear;
    -o-transition: opacity .01s linear;
    transition: opacity .01s linear;
}

.modal {
    top: 30%;
}

.modal-backdrop {
    background-color: #FFF;
    opacity: 0.5 !important;
}

.modal-header {
    padding: 15px 15px 0;
}

.modal-title {
    font-size: 2.2rem;
    color: red;
}